<th:block th:fragment="javascript">
    <!-- Jquery Core Js -->
    <script th:src="@{/plugins/jquery/jquery.min.js}" src="/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script th:src="@{/plugins/bootstrap/js/bootstrap.js}" src="/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Select Plugin Js -->
    <script th:src="@{/plugins/bootstrap-select/js/bootstrap-select.js}" src="/plugins/bootstrap-select/js/bootstrap-select.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script th:src="@{/plugins/jquery-slimscroll/jquery.slimscroll.js}" src="/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Jquery Validation Plugin Css -->
    <script th:src="@{/plugins/jquery-validation/jquery.validate.js}" src="/plugins/jquery-validation/jquery.validate.js"></script>

    <!-- JQuery Steps Plugin Js -->
    <script th:src="@{/plugins/jquery-steps/jquery.steps.js}" src="/plugins/jquery-steps/jquery.steps.js"></script>

    <!-- Sweet Alert Plugin Js -->
    <script th:src="@{/plugins/sweetalert/sweetalert.min.js}" src="/plugins/sweetalert/sweetalert.min.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script th:src="@{/plugins/node-waves/waves.js}" src="/plugins/node-waves/waves.js"></script>

    <!-- Custom Js -->
    <script th:src="@{/js/admin.js}" src="/js/admin.js"></script>
    <script th:src="@{/js/pages/forms/form-wizard.js}" src="/js/pages/forms/form-wizard.js"></script>

    <!-- Demo Js -->
    <script th:src="@{/js/demo.js}" src="/js/demo.js"></script>
</th:block>