<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!--CSS FragMents-->
    <th:block th:replace="fragments/static_fragments/css::css"></th:block>
</head>
<body class="theme-red">
    <!--This is the navigation and static headers part-->
    <th:block th:replace="fragments/header::header"></th:block>

    <!--This is the holder of all the churvas-->
    <div layout:fragment="content"></div>

    <!--Javascript Fragment-->
    <th:block th:replace="fragments/static_fragments/javascript::javascript"></th:block>
</body>
</html>

